@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-text-padding{
    text-indent: 3%;
}

.text-gradient {
    background: linear-gradient(27.67deg, #3A3A3A 26.68%, #000000 125.92%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.inter-font{
    font-family: 'Inter', sans-serif;
}

.red-hat-font{
    font-family: 'Red Hat Display', sans-serif;
}

.public-sans-font{
    font-family: 'Public Sans', sans-serif;
}

.contact-rounded{
    border-radius: 35px;
}

.mx-twenty-percent{
    margin-left: 1%;
    margin-right: 1%;
}

.h-eighty-percent{
    height: 80%;
    min-height: fit-content;
}

